<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.norcy.pangu</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D3D70D1-6063-41EB-8043-A032A6D21806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F6AC2B9-4863-49F7-89B8-8BAFB7D13CCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F6AC2B9-4863-49F7-89B8-8BAFB7D13CCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB2CB9BF-7E46-4C23-ABEB-81F359C68BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8B90EB3-F7C0-4EDB-A71F-8D72D4B9A3B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F6AC2B9-4863-49F7-89B8-8BAFB7D13CCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Norcy</string>
	<key>description</key>
	<string>壹鍵在中英文之間添加空格</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pangu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pg</string>
				<key>subtext</key>
				<string>別把遺產留給🐈</string>
				<key>text</key>
				<string>格式化剪切板</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D3D70D1-6063-41EB-8043-A032A6D21806</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python3 format.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>format.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F6AC2B9-4863-49F7-89B8-8BAFB7D13CCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CB2CB9BF-7E46-4C23-ABEB-81F359C68BE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C8B90EB3-F7C0-4EDB-A71F-8D72D4B9A3B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Pangu.js 在 Alfred Workflow 上的实现</string>
	<key>uidata</key>
	<dict>
		<key>0D3D70D1-6063-41EB-8043-A032A6D21806</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2F6AC2B9-4863-49F7-89B8-8BAFB7D13CCC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C8B90EB3-F7C0-4EDB-A71F-8D72D4B9A3B6</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>CB2CB9BF-7E46-4C23-ABEB-81F359C68BE8</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://norcy.github.io/</string>
</dict>
</plist>
